* {
    margin: 0;
}

body {
    background-color: #fffcf2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

header {
    background: linear-gradient(to top, #c44818, #eb5e28);
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

h1 {
    margin-top: 1rem;
    color: #fffcf2;
}

h3 {
    margin: 15px;
    padding: 2px;
    position: relative;
    width: max-content;
}

h3::after {
    content: '';
    height: 4px;
    width: 100%;
    background: linear-gradient(to right, blue, red);
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}

nav {
    border-top: 2px solid;
    border-bottom: 2px solid;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

nav > a {
    color: #fffcf2;
}

footer {
    border: 2px solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    gap: 2%;
    padding: 20px;
}

main > h2 {
    text-align: center;
    border: 2px solid; 
    padding: 1rem;
    background: linear-gradient(to bottom, #95a5a6, #7086a8);
    position: sticky;
    top: 123px;
    z-index: 9; 
}

img {
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    height: auto;
    transition: 1s;
    margin: 2rem;
}

img:hover {
    transform: scale(1.02);
}

figcaption {
    border: 2px solid;
}

/*------ Banger Section ------*/

.banger-iframe {
    border-radius: 50px 50px 1px 1px;
}

.banger-individual-song {
    border: 1px solid grey;
    border-radius: 50px;
    background-color: #ccc5b9;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
    margin: 20px;
    min-width: 0;
}

.banger-individual-song > p {
    text-align: center;
    margin: 0.5rem;
}

/*------ Playlist Section ------*/

.playlist-iframe {
    border-radius: 50px 50px 1px 1px;
}

.playlist-individual-song {
    border: 1px solid grey;
    border-radius: 50px;
    background-color: #ccc5b9;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
    margin: 20px;
    min-width: 0;
}

.playlist-individual-song > p {
    text-align: center;
    margin: 0.5rem;
}

/*------ Yearly Section ------*/

.yearly-individual-song {
    border: 1px solid grey;
    border-radius: 50px;
    background-color: #ccc5b9;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    /* width: 50%;  */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
    margin-bottom: 20px;
    min-width: 0;    
}

.yearly-individual-song > p {
    /* border: 2px solid; */
    margin: 0.5rem;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
}


/*------ SoundCloud Attribution ------*/

.song-credits {
    /* border: 2px solid red; */
    font-size: 10px;
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
}


/*------ Spotify Section ------*/

.spotify-playlist-div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* margin-left: 2rem; */
}

.spotify-playlist-description {
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
}

.spotify-playlist-description p {
    margin-top: 1rem;
}

/*------ Footer section ------*/

#footer-links {
    margin-top: 1rem;
}